@using AlloyTraining.Models.ViewModels
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using AlloyTraining.Models.Pages

@model DefaultPageViewModel<AlloyTraining.Models.Pages.StartPage>

<h1 @Html.EditAttributes(m => m.CurrentPage.Heading)>
    @if (string.IsNullOrWhiteSpace(Model.CurrentPage.Heading))
    {
        @Html.EditAttributes(m => m.CurrentPage.Name)
    }
    else
    {
        @Html.EditAttributes(m => m.CurrentPage.Heading)
    }
    <div>
        @Html.PropertyFor(m => m.CurrentPage.MainBody)
    </div>
    <div>
        @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { CssClass = "row equal-height"})
    </div>
